#board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 80vh;
    height: 80vh;
    gap: 1px;
    border: 2px solid black;
    box-sizing: border-box;
}

/* cells */
.board_cell {
    background-color: white;
    overflow: hidden;
}

.board_cell.black_cell {
    background-color: black;
}

.highlight {
    box-shadow: inset 0 0 15px 5px #00ff6c;
}

/* figure */
.figure {
    width: 100%;
    height: 100%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s;
    transform-origin: bottom;
    filter: drop-shadow(4px -2px 3px rgba(0, 0, 0, 0.4));
}

.figure.picked {
    transform: scale(1.1);
}
